header {
  margin-bottom: 60px;
  .container {
    padding-top: 0;
  }
}
input {
  display: none;
}
.nav__logo {
  height: 36px;
  width: 36px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  z-index: 1;
  .nav__lista {
    margin: 0;
    padding: 0;
    width: 42%;
    display: flex;
    li {
      width: 180px;
    }
    list-style: none;
    .nav__items {
      // display: block;
      text-decoration: none;
      color: $items-nav-color;
      font-size: 1rem;
      padding: 10px 18px;
      font-weight: bold;
      &:hover {
        text-decoration: line-through;
        color: $boton-color;
      }
      &:active {
        color: $items-nav-color;
        text-decoration: line-through;
      }
    }
  }
}

.header__container {
  margin-top: 70px;
  .header__paragraph {
    width: 628px;
    height: 48px;
    text-align: justify;
  }
  .header_texts {
    width: 950px;
    margin-left: 100px;
    .header__cta {
      display: inline-block;
      margin-top: 70px;
      background: $boton-color;
      width: 226px;
      height: 56px;
      text-align: center;
      padding: $boton-padding;
      text-decoration: none;
      color: $secondary-color;
      font-weight: bold;
      &:hover {
        background: $gradient-button;
        color: $bg;
      }
    }
  }
  .header__title {
    font-size: 4rem;
    padding-right: 1rem;
  }
  .header__paragraph {
    font-size: 1rem;
    padding: 1rem 0;
    line-height: 30px;
  }
  .hello {
    width: 152px;
    height: 84px;
    font-family: $font-primary;
  }
  .world {
    text-decoration: line-through;
    width: 179px;
    height: 84px;
  }
  .pale {
    width: 391px;
    height: 84px;
  }
  .point {
    color: $primary-color;
  }
}
