/*variables*/
$bg: rgb(255, 255, 255);
$primary-color: #0000ff;
$secondary-color: black;
$third-color: #0000ec;
$gradient-color: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
$gradient-button: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
$items-nav-color: rgb(130, 133, 145);
$boton-color: rgb(0, 243, 187);
$boton-padding: 20px 40px;
$font-primary: "IBM Plex Sans", sans-serif;
$font-secundary: "IBM Plex Mono", sans-serif;
