* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  .subtitle {
    font-family: $font-primary;
  }
  a {
    font-family: $font-secundary;
  }
  p {
    font-family: $font-secundary;
  }
}
.container {
  margin: 0 auto;
  overflow: hidden;
  padding: 80px 0;
  max-width: 1200px;
}
