/*Estilos footer*/
.footer {
  padding: 50px 0 50px 0;
}

.footer__contact {
  display: flex;
  justify-content: space-between;
  p {
  }
}

.footer__container-icons {
  padding: 15px;
  width: 18px;
  height: 28px;
  a {
    text-decoration: none;
  }
}
