@media (min-width: 769px) {
  // input {
  //   display: none;
  // }
  .img__menu {
    display: none;
  }
}

/* Media querie tamaño 1024px*/
@media (max-width: 1024px) {
  .container {
    margin: 0 auto;
    overflow: hidden;
    padding: 50px 0;
  }

  .navbar {
    height: 80px;
    width: 1000px;
    .nav__lista {
      margin-right: 30px;
    }
  }

  /*Estilos sección de episodios*/
  .episodes {
    .episodes__container {
      .episodes__podcast {
        img {
          padding-right: 40px;
        }
      }
    }
  }

  /*Estilos Invitadas/os estelares*/
  .guests {
    padding-top: 0;
    .guests__grid {
      grid-template-columns: repeat(2, 1fr);
      .guests_img {
        width: 32rem;
      }
    }
  }
}

/* Media querie tamaño 768px*/
@media (max-width: 768px) {
  /*Menú Hamburguesa*/
  .img__menu {
    width: 35px;
    display: block;
    margin-right: 1%;
  }
  .header {
    .container {
      .header__container {
        margin-top: 140px;
        .header_texts {
          margin-left: 45px;
        }
      }
      label {
        display: inline-flex;
        float: right;
        height: 80px;
        padding: 0px 10px 0 0;
        margin-left: 685px;
      }
      input {
        float: right;
      }
    }
  }
  .navbar {
    width: 3500px;
    position: fixed;
    background: $bg;
    padding: 0;
    .nav__lista {
      flex-direction: column;
      width: 80%;
      margin-left: -300px;
      margin-right: 800px;
      margin-top: 230px;
      // text-align: center;
      transition: all 0.7s;
      li {
        // border-bottom: 1px solid black;
        width: 550px;
        height: 48px;
        padding: 15px;
        background: $primary-color;
        margin-left: -47%;
        .nav__items {
          color: $bg;
          font-size: 16px;
        }
      }
    }
  }
  .nav__items {
    &:hover {
      border-bottom: 0;
    }
  }
  #btn-menu:checked ~ .nav__lista {
    margin-left: 97px;
    // margin-top: 500%;
    // width: 70%;
  }

  /*Estilos sección de episodios*/
  .episodes {
    height: 1100px;
  }

  .episodes {
    .episodes__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 12rem;
      .episodes__podcast {
        padding-bottom: 0;
        img {
          padding-bottom: 5px;
        }
      }
    }
  }
  //   Estilos sección de donde venimos
  .container__info {
    margin-right: 1rem;
    .phone {
      margin-left: 5%;
    }

    .subtitle {
      width: 410px;
      height: 62px;
      margin-bottom: 18%;
    }
    .presentation {
      width: 350px;
      height: 204px;
      text-align: justify;
      line-height: 32px;
      font-size: 1rem;
    }
  }

  /*Estilos Invitadas/os estelares*/
  .guests {
    padding-top: 0;
    .guests__grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      .guests_img {
        width: auto;
        height: auto;
        margin-left: 8%;
      }
    }
  }
}

/* Media querie tamaño 425px*/
@media (max-width: 426px) {
  /*Sección de encabezado*/
  .navbar {
    .nav__lista {
      li {
        width: 427px;
        background: $third-color;
      }
    }
  }
  .container {
    .navbar {
      label {
        display: inline-flex;
        float: right;
        height: 80px;
        padding: 0px 10px 0 0;
        margin-left: 350px;
      }
    }
    .header__container {
      .header_texts {
        width: 18.8rem;
        .header__paragraph {
          width: 18.7rem;
        }
        .header__cta {
          margin-top: 8.5rem;
          width: 320px;
        }
      }
    }
  }

  /*Sección de episodios*/
  .episodes {
    .episodes__container {
      margin-right: 380px;
      .episodes__podcast {
        img {
          width: 440px;
          height: 220px;
        }
      }
    }
  }
  /*Sección de dónde venimos*/
  .container__info {
    flex-direction: column;
    .informationPodcast {
      margin-left: 50px;
      margin-bottom: 100px;
    }
  }
  /*Sección de invitados estelares*/
  .guests {
    padding-top: 0;
    .guests__grid {
      grid-template-columns: repeat(1, 1fr);
      .guests_img {
        height: 320px;
        margin: 0;
      }
    }
  }

  /*Estilos nuestros temas*/
  .topics__container {
    flex-direction: column;
    .topics__items {
      padding-bottom: 60px;
      margin-left: 60px;
      .topics__image {
        margin-left: 30%;
      }
      .legend__topics {
        width: 400px;
      }
    }
  }

  /*Estilos sección novedades*/
  .news {
    .subtitle {
      text-align: center;
    }
  }

  /*Estilos Sección footer*/
  .footer {
    padding: 50px 0 50px 0;
  }
  .footer__contact {
    width: 300px;
    flex-direction: column;
    margin-left: 65px;
    p {
      padding-bottom: 20px;
    }
  }
  #btn-menu:checked ~ .nav__lista {
    margin-left: 430px;
  }
}
