@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&display=swap");
@import "./variables";
@import "./baserules";
@import "./header";
@import "./main";
@import "./footer";
@import "./mediaqueries";
