@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;700&display=swap");
/*variables*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body .subtitle {
  font-family: "IBM Plex Sans", sans-serif;
}

body a {
  font-family: "IBM Plex Mono", sans-serif;
}

body p {
  font-family: "IBM Plex Mono", sans-serif;
}

.container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
}

header {
  margin-bottom: 60px;
}

header .container {
  padding-top: 0;
}

input {
  display: none;
}

.nav__logo {
  height: 36px;
  width: 36px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
  z-index: 1;
}

.navbar .nav__lista {
  margin: 0;
  padding: 0;
  width: 42%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar .nav__lista li {
  width: 180px;
}

.navbar .nav__lista .nav__items {
  text-decoration: none;
  color: #828591;
  font-size: 1rem;
  padding: 10px 18px;
  font-weight: bold;
}

.navbar .nav__lista .nav__items:hover {
  text-decoration: line-through;
  color: #00f3bb;
}

.navbar .nav__lista .nav__items:active {
  color: #828591;
  text-decoration: line-through;
}

.header__container {
  margin-top: 70px;
}

.header__container .header__paragraph {
  width: 628px;
  height: 48px;
  text-align: justify;
}

.header__container .header_texts {
  width: 950px;
  margin-left: 100px;
}

.header__container .header_texts .header__cta {
  display: inline-block;
  margin-top: 70px;
  background: #00f3bb;
  width: 226px;
  height: 56px;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.header__container .header_texts .header__cta:hover {
  background: linear-gradient(225deg, #0000fe 0%, #00f0b8 100%);
}

.header__container .header__title {
  font-size: 4rem;
  padding-right: 1rem;
}

.header__container .header__paragraph {
  font-size: 1rem;
  padding: 1rem 0;
  line-height: 30px;
}

.header__container .hello {
  width: 152px;
  height: 84px;
  font-family: "IBM Plex Sans", sans-serif;
}

.header__container .world {
  text-decoration: line-through;
  width: 179px;
  height: 84px;
}

.header__container .pale {
  width: 391px;
  height: 84px;
}

.header__container .point {
  color: #0000ff;
}

.subtitle {
  color: black;
  font-size: 3rem;
}

svg {
  position: absolute;
  width: 1200px;
  height: 8.9vw;
}

/*Estilos sección de episodios*/
.container {
  padding-top: 0;
}

.episodes {
  background: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  height: 950px;
}

.episodes .oblicuo-bottom {
  top: 1305px;
  height: 7vw;
}

.episodes .oblicuo-top {
  top: 430px;
}

.episodes h2 {
  margin-top: 130px;
  padding-left: 10%;
  padding-bottom: 15px;
  color: white;
}

.episodes .episodes__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: space-between;
}

.episodes .episodes__container .episodes__podcast {
  width: 500px;
  height: 260px;
  padding: 45px;
}

.episodes .episodes__container .episodes__podcast iframe {
  width: 500px;
  height: 250px;
  padding-right: 40px;
  margin-left: 50px;
}

/*Estilos sección De dónde venimos*/
.info {
  padding-top: 0;
  height: 500px;
}

.container__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30%;
  margin-top: 20px;
}

.container__info .phone {
  position: absolute;
  width: 420px;
  height: 660px;
  right: 0;
  left: 15%;
}

.container__info .subtitle {
  width: 430px;
  height: 62px;
  margin-top: 20px;
}

.container__info .presentation {
  width: 500px;
  height: 204px;
  text-align: justify;
  line-height: 32px;
}

/*Estilos Invitadas/os estelares*/
.guests {
  padding-top: 0;
}

.guests .guests__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.guests .guests__grid .guests_img {
  width: auto;
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.guests__images .subtitle {
  padding-bottom: 55px;
  padding-left: 10%;
}

/*Estilos nuestros temas*/
.topics {
  padding-top: 0;
}

/*Estilos nuestros temas*/
.topics {
  height: 500px;
}

.topics .subtitle {
  padding: 0 0 65px 10%;
  margin-top: 50px;
}

.topics .topics__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topics .topics__container .legend__topics {
  width: 150px;
  height: 50px;
  padding-right: 12%;
  padding-top: 30px;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
}

/*Estilos Novedades*/
.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: linear-gradient(225deg, #0000ff 0%, #0000a3 100%);
  height: 500px;
}

.news h2 {
  color: white;
  margin-top: 200px;
}

.news .news__cta {
  display: inline-block;
  margin-top: 35px;
  width: 345px;
  height: 56px;
  background-color: #00f3bb;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/*Estilos footer*/
.footer {
  padding: 50px 0 50px 0;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__container-icons {
  padding: 15px;
  width: 18px;
  height: 28px;
}

.footer__container-icons a {
  text-decoration: none;
}

@media (min-width: 769px) {
  .img__menu {
    display: none;
  }
}

/* Media querie tamaño 1024px*/
@media (max-width: 1024px) {
  svg {
    width: 1024px;
  }
  .episodes .oblicuo-bottom {
    top: 1366px;
  }
  .episodes .oblicuo-top {
    top: 466px;
  }
  .container {
    margin: 0 auto;
    overflow: hidden;
  }
  .navbar {
    height: 80px;
    width: 1000px;
  }
  .navbar .nav__lista {
    margin-right: 30px;
  }
  /*Estilos sección de episodios*/
  .episodes .episodes__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .episodes .episodes__container .episodes__podcast {
    width: 410px;
    height: 250px;
    padding: 0;
  }
  .episodes .episodes__container .episodes__podcast iframe {
    width: 450px;
    padding-right: 10px;
    margin: 0;
  }
  /*Estilos sección de donde venimos*/
  .info .container__info .phone {
    left: 0;
  }
  /*Estilos Invitadas/os estelares*/
  .guests {
    padding-top: 0;
  }
  .guests .guests__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .guests .guests__grid .guests_img {
    width: 32rem;
  }
  .news .oblicuo-news {
    top: 3494.5px;
  }
}

/* Media querie tamaño 768px*/
@media (max-width: 768px) {
  .episodes svg {
    width: 768px;
  }
  .episodes .oblicuo-top {
    top: 457px;
  }
  .episodes .oblicuo-bottom {
    top: 1768.5px;
  }
  /*Menú Hamburguesa*/
  .img__menu {
    width: 35px;
    display: block;
    margin-right: 1%;
  }
  .header .container .header__container {
    margin-top: 140px;
  }
  .header .container .header__container .header_texts {
    margin-left: 45px;
  }
  .header .container label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: right;
    height: 80px;
    padding: 0px 10px 0 0;
    margin-left: 685px;
  }
  .header .container input {
    float: right;
  }
  .navbar {
    width: 3500px;
    position: fixed;
    background: white;
    padding: 0;
  }
  .navbar .nav__lista {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    margin-left: -300px;
    margin-right: 800px;
    margin-top: 230px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .navbar .nav__lista li {
    width: 550px;
    height: 48px;
    padding: 15px;
    background: #0000ff;
    margin-left: -47%;
  }
  .navbar .nav__lista li .nav__items {
    color: white;
    font-size: 16px;
  }
  .nav__items:hover {
    border-bottom: 0;
  }
  #btn-menu:checked ~ .nav__lista {
    margin-left: 97px;
  }
  /*Estilos sección de episodios*/
  .episodes {
    height: 1350px;
  }
  .episodes h2 {
    margin-top: 90px;
  }
  .episodes .episodes__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 70px;
  }
  .episodes .episodes__container .episodes__podcast {
    padding-bottom: 0;
  }
  .episodes .episodes__container .episodes__podcast iframe {
    width: 550px;
    height: 500px;
  }
  /*Estilos sección de donde venimos*/
  .container__info {
    margin-right: 1rem;
    margin-left: 425px;
  }
  .container__info .phone {
    left: 0;
  }
  .container__info .subtitle {
    width: 410px;
    height: 62px;
    margin-bottom: 18%;
  }
  .container__info .presentation {
    width: 350px;
    height: 204px;
    text-align: justify;
    line-height: 32px;
    font-size: 1rem;
  }
  /*Estilos Invitadas/os estelares*/
  .guests {
    padding-top: 0;
  }
  .guests .guests__images {
    margin-top: 50px;
  }
  .guests .guests__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .guests .guests__grid .guests_img {
    width: auto;
    height: auto;
    margin-left: 8%;
  }
  .news .oblicuo-news {
    top: 5890px;
    width: 768px;
  }
}

/* Media querie tamaño 425px*/
@media (max-width: 426px) {
  header {
    margin-bottom: 50px;
  }
  .episodes svg {
    width: 426px;
  }
  .episodes .oblicuo-top {
    top: 658px;
  }
  .episodes .oblicuo-bottom {
    top: 1987.5px;
  }
  /*Sección de encabezado*/
  .navbar .nav__lista li {
    width: 427px;
    background: #0000ec;
  }
  .container .navbar label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    float: right;
    height: 80px;
    padding: 0px 10px 0 0;
    margin-left: 350px;
  }
  .container .header__container .header_texts {
    width: 18.8rem;
  }
  .container .header__container .header_texts .header__paragraph {
    width: 18.7rem;
  }
  .container .header__container .header_texts .header__cta {
    margin-top: 8.5rem;
    width: 320px;
  }
  /*Sección de episodios*/
  .episodes .episodes__container {
    margin-right: 380px;
    margin-left: 7px;
  }
  .episodes .episodes__container .episodes__podcast {
    width: 300px;
  }
  .episodes .episodes__container .episodes__podcast iframe {
    width: 422px;
  }
  /*Sección de dónde venimos*/
  .info {
    height: 1060px;
  }
  .container__info {
    display: inline;
    margin-left: 470px;
  }
  .container__info .phone {
    top: 1900px;
  }
  .container__info .informationPodcast {
    margin-left: 40px;
    margin-top: 550px;
  }
  /*Sección de invitados estelares*/
  .guests {
    padding-top: 0;
  }
  .guests .guests__grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .guests .guests__grid .guests_img {
    height: 320px;
    margin: 0;
  }
  /*Estilos nuestros temas*/
  .topics {
    height: 1150px;
  }
  .topics__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .topics__container .topics__items {
    padding-bottom: 60px;
    margin-left: 60px;
  }
  .topics__container .topics__items .topics__image {
    margin-left: 30%;
  }
  .topics__container .topics__items .legend__topics {
    width: 400px;
  }
  /*Estilos sección novedades*/
  .news .oblicuo-news {
    top: 6369px;
    width: 425px;
  }
  .news .subtitle {
    margin-top: 115px;
    text-align: center;
  }
  /*Estilos Sección footer*/
  .footer {
    padding: 50px 0 50px 0;
  }
  .footer__contact {
    width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 65px;
  }
  .footer__contact p {
    padding-bottom: 20px;
  }
  #btn-menu:checked ~ .nav__lista {
    margin-left: 430px;
  }
}
/*# sourceMappingURL=style.css.map */